*
!/.gitignore
!/.dockerignore

################################################################
# MAIN FOLDER
################################################################

!/.env
!/Makefile
!/README.md
!/LICENSE

!/Cargo.toml
!/Cargo.lock

################################################################
# PROJECT FILES
################################################################

!/src
!/src/**

!/tests

!/examples
!/examples/img
!/examples/img/*.png
!/examples/README.md

!/src-py
!/src-py/main.py

!/assets
!/assets/**

!/dist
!/dist/VERSION

################################################################
# AUXLIARY
################################################################

/logs

################################################################
# ARTEFACTS
################################################################

/**/__pycache__
/**/.DS_Store
/**/__archive__*

################################################################
# Git Keep
################################################################

!/**/.gitkeep
